############ File di configurazione per PDA Giustizia ###########

jndiDataSourceName=java:comp/env/jdbc/opencupDS

# gestione log eccezioni
log.printStackTrace=false

# configurazione paginazione
paginazione.risultatiPerPagina=20

# configurazione paginazione localizzazione
paginazione.risultatiPerPagina.localizzazione=25

# caching refresh in minuti
cache.intervallo=30

# codice natura
codice.natura.open.cup=03

# nome pagina navigazione per classificazione
pagina.classificazione=natura

# nome pagina navigazione per localizzazione
pagina.localizzazione=localizzazione

# nome pagina navigazione per soggetto
pagina.soggetto=soggetto

# nome pagina elenco progetti
pagina.elenco.progetti=elenco-progetti

# nome pagina dettaglio progetto
pagina.dettaglio.progetto=dettaglio-progetto

# nome pagina dettaglio contenuto
pagina.dettaglio.contenuto=dettaglio-contenuto

#ricerca libera portletid asset
ricerca.assetpublisher.instanceId=101_INSTANCE_qrwNyrdTQrO8
ricerca.dettaglioProgetto.instanceId=dettaglioprogettoportlet_WAR_OpenCupPortletsportlet
ricerca.ricercaLibera.instanceId=ricercaliberaportlet_WAR_OpenCupPortletsportlet
elenco.progetti.instanceId=elencoprogettiportlet_WAR_OpenCupPortletsportlet

portlet.classificazione.instanceId=piechartportlet_WAR_OpenCupPortletsportlet
portlet.localizzazione.instanceId=localizzazioneportlet0_WAR_OpenCupPortletsportlet
portlet.soggetto.instanceId=soggettoportlet_WAR_OpenCupPortletsportlet