.natura-portlet1 #tooltip-natura-portlet1 {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 10px;
	background-color: #ffffff;
	border: 2px solid #5b5955;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

.natura-portlet1 #tooltip-natura-portlet1.hidden {
	display: none;
}

.natura-portlet1 #tooltip-natura-portlet1 p {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
}


.natura-portlet-ricerca .underline {
	border-bottom: 1px solid;
	border-color: #004383;
}

.natura-portlet-ricerca .ricerca .control-group .control-label {
	padding-top:inherit;
	font-weight: bold;
}
.natura-portlet-ricerca .ricerca .control-group span {
	padding-top:5px;
	margin-bottom: 5px;
}