.natura-portlet1 #tooltip-natura-portlet1 {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 10px;
	background-color: #ffffff;
	border: 2px solid #5b5955;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

.natura-portlet1 #tooltip-natura-portlet1.hidden {
	display: none;
}

.natura-portlet1 #tooltip-natura-portlet1 p {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
}

#italybymacroareas svg{stroke:#000; stroke-width:1px;}

#italybymacroareas .NE {fill: #9ac7e0;}
#italybymacroareas .NO {fill: #519ccc;}
#italybymacroareas .IS {fill: #d1e2f2;}
#italybymacroareas .SU {fill: #1c6bb0;}
#italybymacroareas .CE {fill: #f7fbff;}

#italybymacroareas svg path:hover {cursor: pointer;}

#italybymacroareas div.nascosto {
	visibility: hidden;
}

#italybymacroareas div.selectiontip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

#italybymacroareas div.selectiontip p strong{
	color:green;
}
