.natura-portlet1 #tooltip-natura-portlet1 {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 10px;
	background-color: #ffffff;
	border: 2px solid #5b5955;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

.natura-portlet1 #tooltip-natura-portlet1.hidden {
	display: none;
}

.natura-portlet1 #tooltip-natura-portlet1 p {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
}

#italybymacroareas {text-align: left;}
#dimensions{width:500px; text-align:center;}
#dimensions ul li{display: inline-block;list-style: none;}

#italybymacroareas svg{stroke:#000; stroke-width:1px;}

#italybymacroareas .NE,#italybymacroareas .NO,#italybymacroareas .I,#italybymacroareas .S,#italybymacroareas .C 
{fill: #ffffff;}


#italybymacroareas svg path:hover {cursor: pointer;}

#italybymacroareas div.nascosto {
	position: absolute!important; top: -10000em!important; width: 0px!important; height: 0px!important; overflow: hidden!important;box-shadow: 0px 0px 0px 0px #fff;
}

#italybymacroareas div.selectiontip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

#italybymacroareas div.selectiontip p strong{
	color:green;
}

.natura-portlet-ricerca .underline {
	border-bottom: 1px solid;
	border-color: #004383;
}

.natura-portlet-ricerca .ricerca .control-group .control-label {
	padding-top:inherit;
	font-weight: bold;
}
.natura-portlet-ricerca .ricerca .control-group span {
	padding-top:5px;
	margin-bottom: 5px;
}



#dimensions ul li input[type=button]{
	display: inline-block;
	padding:4px 12px;
	margin-bottom:0;
	line-height:20px;
	text-align:center;
	vertical-align:middle;
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #f1f1f1;
	background-image: linear-gradient(to bottom, #f6f6f6, #eaeaea);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	border: 1px solid #cfcfcf;
	border-bottom-color: #b5b5b5;
}

#dimensions ul li input[type=button]:hover,#dimensions ul li input[type=button]:focus{
	color: #333;
    text-decoration: none;
    background-position: 0 -15px;
}

#dimensions ul li input[type=button]:active, #dimensions ul li input[type=button].active{
	background-image: none;
    outline: 0;
    box-shadow:inset 0 2px 4px rgba(0,0,0,.40), 0 1px 2px rgba(0,0,0,.05);
}

.no-margin-bottom {
	margin-bottom: 0px !important;
}


.riepilogo-filtri {
	padding: 6px !important;
	background-color: #4C9AED !important;
	border-color: #3C79B7 !important;
}

.vertical-align-middle{
	vertical-align: middle !important;
}

.cursor-pointer{
	cursor: pointer;
}

.classificazione-portlet1 #tooltip-classificazione-portlet1 {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 10px;
	background-color: #ffffff;
	border: 2px solid #5b5955;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

.classificazione-portlet1 #tooltip-classificazione-portlet1.hidden {
	display: none;
}

.classificazione-portlet1 #tooltip-classificazione-portlet1 p {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
}

.classificazione-portlet1 .underline {
	border-bottom: 1px solid;
	border-color: #004383;
}

.classificazione-portlet1 .ricerca .control-group .control-label {
	padding-top:inherit;
	font-weight: bold;
	padding-left: 10px;
  	padding-bottom: 5px;
}
.classificazione-portlet1 .ricerca .control-group span {
	padding-top:5px;
	margin-bottom: 5px;
}


.affina-ricerca-div{
	margin-bottom: 0px;
}

.affina-ricerca {
	position: absolute;
	right: 0px;
	display: block;
	line-height: 30px;
	background-color: #004383;
	color: #fff;
	padding-left: 10px;
	text-align: right;
	padding-right: 10px;
}

.affina-ricerca > a, .affina-ricerca > a:visited {
	color: #fff;
}

.affina-ricerca .icon-filter {
	position:relative; 
	text-decoration:none;
}

.affina-ricerca #filtriBadge {
	color: #cb4437; 
	text-decoration: none; 
	position: absolute; 
	top: -15px; 
	right: -15px; 
}

.affina-ricerca .icon-stack > .icon-circle {
	font-size: 1.2em !important;
}

.affina-ricerca .icon-stack > .icon-light {
	font-size: 0.9em !important;
}

#popoverNotifiche + .popover > .popover-content {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.dettaglio-progetto-portlet .dett-titolo{
	display:block;
	font-weight: bold;
	color: #202020;
	padding: 20px 0;
}

.dettaglio-progetto-portlet .dett-titolo2{
	display:block;
	color: #202020;
	padding: 20px 0;
}

.dettaglio-progetto-portlet .dett-label {
	color: #cccccc;
}

.dettaglio-progetto-portlet .dett-value {
	font-style: italic;
	color: #202020;
}

.dettaglio-progetto-portlet .dettaglio {
	position: relative;
	padding: 9px 0;
	margin: 0;
	left: 0;
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #b2c6ff;
}

.dettaglio-progetto-portlet .importo {
	display: block;
	position: relative;
	padding: 20px 0px 10px 20px !important;
	border-width: 1px 0;
	border-style: solid;
	border-color: #FFFFFF;
	background: #b2c6ff;
}

.dettaglio-progetto-portlet .copertura-finanziamento{
	text-align: center;
	vertical-align: middle;
	min-height: 120 px;
}	


.dettaglio-progetto-portlet .axis path, 
.dettaglio-progetto-portlet .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.dettaglio-progetto-portlet .axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.dettaglio-progetto-portlet #tooltip {
    position: absolute;
    text-align: center;
    width: 40px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
.dettaglio-progetto-portlet #tooltip.hidden {
    display: none;
}
.dettaglio-progetto-portlet #tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.dettaglio-progetto-portlet .axis path, 
.dettaglio-progetto-portlet .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.dettaglio-progetto-portlet .axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.dettaglio-progetto-portlet #tooltip {
    position: absolute;
    text-align: center;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.dettaglio-progetto-portlet #tooltip.hidden {
    display: none;
}

.dettaglio-progetto-portlet #tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}