#set ($css_class = "${css_class} dockbar-split")
#set ($headerLinks = 11060) ##ID dyn data list link header su Foxer U_LIFERAY_NEW
#set ($footerLinkColumns =[11063,11066,11069,11072]) ##popolo array con gli id delle ddl che contengono i link del footer  (lista_link_footer_1,2,ecc)) su Foxer U_LIFERAY_NEW
#set ($opencup_logo="$images_folder/logo_transp.png")