#set ($css_class = "${css_class} dockbar-split")
#set ($headerLinks = 13251) ##ID dyn data list link header
#set ($footerLinkColumns =[15674,15677,15680,15683]) ##popolo array con gli id delle ddl che contengono i link del footer  (lista_link_footer_1,2,ecc))