<nav class="$nav_css_class navbar site-navigation" id="navCont" role="navigation">
	<div class="navbar-inner">
		<div class="collapse nav-collapse">
			<ul aria-label="#language ("site-pages")" class="nav nav-collapse w100" role="menubar" >
				#foreach ($nav_item in $nav_items)
						#set ($nav_item_attr_selected="")
						#set ($nav_item_attr_has_popup="")
						#set ($nav_item_caret="")
						#set ($nav_item_css_class="lfr-nav-item")
						#set ($nav_item_link_css_class="")
						#set ($nav_item_link_friendly_url="$nav_item.getURL().substring(15)")

					#if ($nav_item.isSelected())
						#set ($nav_item_attr_selected="aria-selected='true'")
						#set ($nav_item_css_class="$nav_item_css_class selected active")
					#end

					#if ($nav_item.hasChildren())
						#set ($nav_item_attr_has_popup="aria-haspopup='true'")
						#set ($nav_item_caret='<b class="icon-caret-down"></b>')
						#set ($nav_item_css_class="$nav_item_css_class dropdown")
						#set ($nav_item_link_css_class="dropdown-toggle")
					#end
					
					#set ($cur_color=$nav_item.getLayout().getExpandoBridge().getAttribute("colore_link"))
					#set ($lastSpaceIndex=$nav_item.getName().lastIndexOf(' '))
					#set ($linkFirst=$nav_item.getName().substring(0,$lastSpaceIndex))
					#set ($linkLast=$nav_item.getName().substring($lastSpaceIndex))
					
					<li class="$nav_item_css_class" id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation" >
						<a aria-labelledby="layout_$nav_item.getLayoutId()" $nav_item_attr_has_popup class="$nav_item_link_css_class" href="$nav_item.getURL()" $nav_item.getTarget() role="menuitem" title="$nav_item.getName()" style="border-top: 1em solid $cur_color">
								
								<span>
									<i class="$nav_item.getLayout().getExpandoBridge().getAttribute("icona_navigazione") icon-2x right" style="border:0.25em solid  $cur_color;color:$cur_color"></i>
									<p>
									$nav_item.icon() $linkFirst $nav_item_caret 
									</p>
									<p>
										<strong>
											$linkLast
										</strong>
									</p>
								</span>
						</a>

						#if ($nav_item.hasChildren())
							<ul class="dropdown-menu child-menu" role="menu">
								#foreach ($nav_child in $nav_item.getChildren())
									#set ($nav_child_attr_selected="")
									#set ($nav_child_css_class="lfr-nav-item")

									#if ($nav_child.isSelected())
										#set ($nav_child_attr_selected="aria-selected='true'")
										#set ($nav_child_css_class="selected")
									#end

									<li class="$nav_child_css_class" id="layout_$nav_item.getLayoutId()" $nav_child_attr_selected role="presentation">
										<a aria-labelledby="layout_$nav_item.getLayoutId()" href="$nav_child.getURL()" $nav_child.getTarget() role="menuitem">$nav_child.getName()</a>
									</li>
								#end
							</ul>
						#end
					</li>
				#end
			</ul>
			<!--
			<ul id="searchBar" class="w30 right">
				<li>
					#set ($VOID = $velocityPortletPreferences.setValue('display-style', '1'))
					#set ($VOID = $velocityPortletPreferences.setValue('portlet-setup-show-borders', 'false'))
					## #set ($instanceId = 'RICERCA01')
					## #set ($myPortletId = "ricercaliberaportlet_WAR_OpenCupPortletsportlet_INSTANCE_${instanceId}")
					#set ($myPortletId = "ricercaliberaportlet_WAR_OpenCupPortletsportlet")
					$theme.runtime($myPortletId, '', $velocityPortletPreferences.toString())
					#set ($VOID = $velocityPortletPreferences.reset())
				</li>
			</ul>
			-->
		</div>
	</div>
</nav>

<script>
	Liferay.Data.NAV_LIST_SELECTOR = '.navbar-inner .nav-collapse > ul';
</script>