.left{float: left!important;} 

.right{float: right!important;}

#heading{background: #f0f0f0;height: 140px;}

.aui h2.page-title{height:140px;}

.aui h2.page-title .smaller{font-size: 0.35em!important;vertical-align: top!important;line-height: 1em!important;font-weight: normal!important;}

.aui h2>div{padding-left: 20px;padding-top: 50px;}


.aui h2 div div ul#topLinks li{display: inline-block;width:15%!important;text-align: center;height: inherit;vertical-align: top;}

.aui h2 div div ul#topLinks li.socialHub{border-right: none;}

.aui h2 div div ul#topLinks li div{height:inherit;}

.aui h2 div div ul#topLinks li div:hover,.aui h2 div div ul#topLinks li div:focus{background-color: #999999;border-radius:1em;}

.aui h2 div div ul#topLinks li div:hover a,,.aui h2 div div ul#topLinks li div:focus a{text-decoration: underline;color: #fcfcfc!important;text-shadow: inherit;}

.aui h2 div div ul#topLinks li div a{font-size: 0.42em;color:#666666;font-weight: normal!important; vertical-align: text-bottom;}

.aui h2 div div ul#topLinks li i{font-size: 0.42em;color:#666666;font-weight: normal!important; line-height: 2.8em;}

.w70{width: 70%;}

.w30{width: 30%;}

.w75{width: 75%;}

.w25{width: 25%;}

.w60{width: 60%;}

.w40{width: 40%;}

.w50{width: 50%;}

.w45{width: 45%;}

.h90{height: 90%;}

.h50px{height:50px; }

.aui .navbar-inner {background-color: #999999;background-image: inherit;}

.aui .navbar .nav li{text-align: center!important;}

.aui .navbar .nav  .active  a, .aui .navbar .nav  .active  a:hover, .aui .navbar .nav  .active  a:focus{background: #b3b3b3!important;}

.aui .navbar .nav li a {color: #fcfcfc!important;text-shadow: inherit;}

.aui .navbar .nav li a span i{color:#000!important;}

.aui .navbar .nav li:hover{background: #b3b3b3!important;}

.aui .navbar .nav li a:hover span i{text-decoration: none;}

.aui .navbar .nav li a:hover{text-decoration: underline;}

#searchBar{padding-top: 1.5em!important;list-style: none!important;text-align:right!important;}

#footer{background: #f0f0f0;height: 160px;}

#footer .powered-by{height:20%!important;background-color: #999999!important;text-align: center;padding-top: 1em;}

#footer ul#main-footer-list{height: inherit;padding-top: 1.5em;}

#footer ul#main-footer-list li{display: inline-block;list-style: none;width: 24%;}

#footer ul#main-footer-list li ul.inner-sublist-footer li{list-style: none; display: list-item;width: inherit;text-align: justify;}

#footer ul#main-footer-list li ul.inner-sublist-footer li strong{font-size: 1.3em;line-height: 2em;color: #5c5c5c;}

#footer ul#main-footer-list li ul.inner-sublist-footer li a{color: #5c5c5c;}

.aui .breadcrumb{line-height: 2em!important;background-color: #F0F0F0!important;}

.aui .breadcrumb  li a{color: #5c5c5c;}